:root {
  --bg-prim: #12181b;
  --bg-sec: #383838;
  --clr: #ffffff;
}
body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  background-color: var(--bg-prim);
  margin: auto;
}
h1 {
  margin: auto ;
  margin-top: 50px;
  text-shadow: 5px;
  text-align: center;
  color: brown;
}
.title{
  margin-bottom: 10px;
  margin-left: 150px;
  width: 210px;
  color:green;
  border: solid black 2px;
  }

  input[type="button"]
  {
  background-color:green;
  color: black;
  border: solid black 2px;
  width:100%
  }

  input[type="text"]
  {
  background-color:white;
  border: solid black 2px;
  width:100%
  }
  .i {
    color: white;
  }
  table{
    margin: auto ;
  }